$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "slider";

// Map threshold colours
$withinThreshold: #131540;
$outsideThreshold: #ffae00;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Ensure all links have a pointer, even if they do not have a href attr.
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Map dimenstions.
#map {
  width: 100%;
  height: 400px;
}

.map-legend {
  display: inline-block;
  width: 30px;
  height: 10px;
}

.within-threshold {
  background-color: $withinThreshold;
}

.outside-threshold {
  background-color: $outsideThreshold;
}

.raw-json {
  height: 400px;
  overflow: scroll;
}

flot {
  height: 300px;
  width: 100%;
  display: block;
}

.row {
  margin-top: 1em;
}

.thresholds {
  width: 90%;
}

.drop-target {
  padding: 0.8em;
  border: 2px dashed #ccc;
  width: 100%;

  p {
    margin-top: 1em;
  }
}

// For angular-slider. See https://github.com/venturocket/angular-slider
::-ms-tooltip {
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
