
// Colours for the sliders in the threshold section.

$barColor: #ccc;
$handleActiveColor: #67b700;
$handleHoverColor: #67b700;
$labelTextColor: #67b700;
$handleBgColor: #71818e;
$handleInnerColor: #fff;
$limitLabelTextColor: $labelTextColor;

rzslider span.bar {
  background: $barColor;
}

rzslider span.bar.selection {
  background: #67b700;
}

rzslider span.pointer {
  background-color: $handleBgColor;
}

rzslider span.pointer:after {
  background: $handleInnerColor;
}

rzslider span.pointer:hover:after {
  background-color: $handleHoverColor;
}

rzslider span.pointer.active:after {
  background-color: $handleActiveColor;
}

rzslider span.bubble {
  color: $labelTextColor;
}

rzslider span.bubble.limit {
  color: $limitLabelTextColor;
}

rzslider {
  margin-bottom: 30px;
}
