<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Chainsaw</h1>
      <p>The Chainsaw portable logger was created for ENGG4810: Team Project 2
      in Semester 1, 2014.</p>
      <h3>Meet Team 08</h3>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Joel Addison</h4>
          <p>
            Joel Addison is a fourth year Bachelor of Engineering student, majoring in Software
            Systems and Aerospace. Due to his background in programming, especially using Python
            and JavaScript to build web apps, his main focus will be the software component for
            this project. He will be writing an application to interact with the cloud storage,
            and display the stored data to the end user using a number of visualisation types
            including via Google Maps and graphs. Joel will also assist with the firmware coding,
            as he has a strong knowledge of the C programming language and FreeRTOS. For this, he
            will be investigating the low power mode of FreeRTOS with the Tiva C board.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Bradley Coonan</h4>
          <p>
            Bradley is a fourth year engineering student majoring in electrical engineering. As such,
            he will focus on hardware and firmware related tasks, whilst providing software support to
            Joel if needed. For hardware, Bradley is tasked with component selection and ordering. This
            will involve confirming that all chosen components confirm with the specification, as well
            as the design of circuits as per the datasheets. Additionally, Bradley will develop an
            initial PCB design and test relevant peripherals; specifically, the battery charger and
            boost converter. In terms of firmware, Bradley will work on porting the newest version of
            FreeRTOS to the Tiva C. He will also focus on correctly interfacing the microSD card to
            the board, as well as assisting Laurence and Anastasia in their firmware roles. This will
            involve selecting appropriate GPIO pins on the Tiva C board and an understanding of how
            SPI protocol is utilised.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Laurence Cheung</h4>
          <p>
            Laurence is a fourth year engineering student majoring in electrical engineering. Because
            of this, his role in the team is to be able to complete tasks that fall under both hardware
            and firmware categories. Specifically, Laurence is responsible for hardware design. In
            addition to this, he is responsible for the review of the PCB design. Upon the completion
            of hardware tasks, he is responsible for the I2C communication between digital IC’s and the
            TIVA C Launchpad (both digital accelerometer and digital barometer). He is also tasked with
            the interfacing of the GPS module (NEO-6M) with the TIVA C Launchpad. After completion of
            these roles, he is tasked with assisting others with unfinished tasks and the review of
            hardware/PCB design.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Anastasia Miros</h4>
          <p>
            Anastasia is a 4th year Bachelor of Engineering student, majoring in Electrical and
            Biomedical Engineering. Anastasia’s role primarily consists of hardware schematic
            design of primary circuits and functional verification of peripheral circuits
            (temperature sensor, battery IC, sound sensor). In addition, Anastasia will verify the
            PCB design and assist in relevant component selection. For firmware, Anastasia will
            complete the analogue I/O firmware interfacing (temperature sensor and sound sensor)
            on the TIVA microcontroller. Upon completion of these tasks, Anastasia will provide
            assistance to Laurence and Bradley in their firmware roles and to Joel in software
            development.
          </p>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <footer>
    <p><small>&copy; Joel Addison 2014</small></p>
  </footer>

</div>
