<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div id="map" style="height: 600px; width: 100%;"></div>
    </div>

    <div class="col-md-3">
      <h3>Route Configuration</h3>
      <p>
        <button class="btn btn-default btn-sm" ng-click="downloadTrackFile()" ng-disabled="!route.path.length">Download Track Config</button>
        <button class="btn btn-default btn-sm" ng-click="downloadWomFile()">Download WoM Config</button>
      </p>

      <h4>Path</h4>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Lat</th>
              <th>Long</th>
              <th>High Res</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="point in route.path">
              <td>{{ point.lat | number:5 }}</td>
              <td>{{ point.lng | number:5 }}</td>
              <td><input type="checkbox" ng-model="point.high"></td>
              <td>
                <a class="btn btn-danger btn-xs" ng-click="removePoint($index)">
                  <span class="glyphicon glyphicon-trash icon-white"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="alert alert-warning" ng-show="route.path.length===0"><strong>No points have been added</strong></div>
    </div>
  </div>
</div>
