<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <tabset>
        <tab heading="Route Taken" select="showMap()">
          <div id="map" style="height: 400px; width: 100%;"></div>
          <div class="text-right">
            <span class="map-legend within-threshold"></span> Within threshold
            <span class="map-legend outside-threshold"></span> Outside threshold
          </div>
        </tab>
        <tab heading="Raw Data" ng-show="file.raw && !file.raw.error">
          <pre class="raw-json">{{ file.raw | json }}</pre>
        </tab>
      </tabset>
    </div>

    <div class="col-md-3">
      <h3>Select File</h3>
      <p>
        <button class="btn btn-default btn-sm" ng-click="openFile()">Open File</button>
        <button class="btn btn-default btn-sm" ng-click="uploadFile()">Upload File</button>
      </p>
      <div ng-show="file.path">
        <p>Group: <strong>{{ file.path.group }}</strong></p>
        <p>File: <strong>{{ file.path.file }}</strong></p>
      </div>
      <div ng-show="file.raw && !file.raw.error">
        <h4>Metadata</h4>
        <ul>
          <li><strong>Team:</strong> {{ file.raw.metadata.team_number }}</li>
          <li><strong>Configuration:</strong> {{ file.raw.metadata.configuration_name }}</li>
          <li><strong>Comment:</strong> {{ file.raw.metadata.comment }}</li>
        </ul>
        <div class="alert alert-danger" ng-show="file.missingGps"><strong>Data includes samples without GPS / time</strong></div>
        <div class="alert alert-success" ng-show="!file.routeBad && !file.missingGps"><strong>Sample data within thresholds</strong></div>
        <div class="alert alert-warning" ng-show="file.routeBad"><strong>Sample data outside thresholds</strong></div>
      </div>
      <div class="alert alert-danger" ng-show="file.raw.error"><strong>{{file.raw.error}}</strong></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <tabset ng-show="file.types.length">
        <tab ng-repeat="type in file.types" heading="{{dataTypes[type]}}">
          <flot dataset="file.processed.plotData[type]" options="plotOptions"></flot>
        </tab>
      </tabset>
    </div>

    <div class="col-md-3">
      <h3 ng-show="file.types.length">Thresholds</h3>
      <div class="thresholds">
        <div ng-repeat="type in file.types">
          <h4>{{dataTypes[type]}}
            <button class="btn btn-default btn-xs" ng-click="threshold[type].adv = !threshold[type].adv">Adjust</button>
          </h4>
          <rzslider
              rz-slider-floor="threshold[type].min"
              rz-slider-ceil="threshold[type].max"
              rz-slider-model="threshold[type].low"
              rz-slider-high="threshold[type].high">
          </rzslider>
          <div collapse="!threshold[type].adv" class="well">
            <p><strong>{{dataTypes[type]}} values</strong></p>
            <div class="input-group">
              <span class="input-group-addon">Min</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].min">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Low</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].low">
            </div>

            <div class="input-group">
              <span class="input-group-addon">High</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].high">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Max</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].max">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
