<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div id="map" style="height: 600px; width: 100%;"></div>
    </div>

    <div class="col-md-3">
      <h3>Configuration</h3>
      <h4>Data Source</h4>
      <p>
        <button class="btn btn-default btn-sm" ng-click="openDir()">Open Folder</button>
      </p>
      <div ng-show="folder.group">
        <p>Group: <strong>{{ folder.group }}</strong></p>
      </div>
      <div ng-show="folder.path">
        <p>Path: <strong>{{ folder.path }}</strong></p>
      </div>

      <h4>Mode</h4>
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="mode" btn-radio="0">Average</label>
        <label class="btn btn-primary" ng-model="mode" btn-radio="1">Minimum</label>
      </div>

      <h3 ng-show="types.length">Thresholds</h3>
      <div class="thresholds">
        <div ng-repeat="type in types">
          <h4>{{dataTypes[type]}}
            <button class="btn btn-default btn-xs" ng-click="threshold[type].adv = !threshold[type].adv">Adjust</button>
          </h4>
          <rzslider
              rz-slider-floor="threshold[type].min"
              rz-slider-ceil="threshold[type].max"
              rz-slider-model="threshold[type].low"
              rz-slider-high="threshold[type].high">
          </rzslider>
          <div collapse="!threshold[type].adv" class="well">
            <p><strong>{{dataTypes[type]}} values</strong></p>
            <div class="input-group">
              <span class="input-group-addon">Min</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].min">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Low</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].low">
            </div>

            <div class="input-group">
              <span class="input-group-addon">High</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].high">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Max</span>
              <input type="text" class="form-control" placeholder="Minimum" ng-model="threshold[type].max">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
