<div class="modal-header">
  <h3>Open Folder</h3>
</div>
<div class="modal-body">
  <div class="form">
    <div class="form-group">
      <label for="select-group">Select Group</label>
      <select id="select-group" ui-select2 ng-model="selected.group" data-placeholder="Pick a group" class="form-control">
        <option value=""></option>
        <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
      </select>
    </div>

    <label>Select Folder</label>
    <treecontrol class="tree-classic"
       tree-model="dirTree"
       options="treeOptions"
       selected-node="selected.dir">
       {{node.name}}
    </treecontrol>
    <div class="alert alert-danger" ng-hide="dirTree"><strong>No folders found</strong></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="selected.group === '' || selected.dir === ''">Open Folder</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
