<div class="modal-header">
  <h3>Upload File</h3>
</div>
<div class="modal-body">
  <div class="form">
    <div class="form-group">
      <label for="select-group">Select Group</label>
      <select id="select-group" ui-select2 ng-model="metadata.group" data-placeholder="Pick a group" class="form-control">
        <option value=""></option>
        <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Select Destination Folder</label>
      <treecontrol class="tree-classic"
         tree-model="dirTree"
         options="treeOptions"
         selected-node="metadata.dir">
         {{node.name}}
      </treecontrol>
    </div>

    <div class="form-group" ng-show="metadata.dir !== ''">
      <label>Select File</label>
      <div class="drop-target" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class" ng-show="dropSupported">
        <span class="btn btn-default btn-file">
          Select File <input type="file" ng-file-select="onFileSelect($files)">
        </span>
        <!-- <span class="btn btn-default btn-file">
          Select Files <input type="file" ng-file-select="onFileSelect($files)" multiple>
        </span> -->

        <span ng-file-drop-available="dropSupported=true" ng-show="dropSupported">
          OR drop file here
        </span>

        <p ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
          HTML5 Drop File is not supported!
        </p>

        <p ng-show="filename !== ''"><strong>File:</strong> {{ filename }}</p>
      </div>
      <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->
    </div>

    <div class="form-horizontal" ng-show="filename !== ''">
      <div class="form-group">
        <label for="filename" class="col-sm-4 control-label">Filename</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="filename" placeholder="Filename" ng-model="metadata.filename">
        </div>
      </div>

      <div class="form-group">
        <label for="team" class="col-sm-4 control-label">Team</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="team" placeholder="Team" ng-model="metadata.team">
        </div>
      </div>

      <div class="form-group">
        <label for="comment" class="col-sm-4 control-label">Comment</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="comment" placeholder="Comment" ng-model="metadata.comment">
        </div>
      </div>

      <div class="form-group">
        <label for="config" class="col-sm-4 control-label">Configuration File</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="config" placeholder="Config" ng-model="metadata.config">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="metadata.filename === '' || metadata.team === ''">Upload File</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
